body {
  margin: 100px 0 100px;
}

div {
  height: 150px;
  width: 80px;
  background-color: crimson;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40px, -75px);
}

main {
  width: 80px;
  height: 50px;
  background-color: burlywood;
}

article {
  width: 80px;
  height: 20px;
  background-color: #000;
}

/*
center to page: transform: translate (x, y) where x and y are half the height and width

div {
  height: 150px;
  width: 80px;
  background-color: crimson;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40px, -75px);
}*/



/*positioning is relative to parent
make thing you want to position as absolute and the container relative*/


/*
main {
  width: 100%;
  height: 50px;
  background-color: burlywood;
  position: absolute;
  top: 50%;
  left: 0px;
}*/

/*.image-number::before {
  content: "$"
}
/*adds the content to specified location*/

/*.dropcap::first-letter {
  font-size: 3rem;
}*/





/*a:nth-child(even) {
  color:burlywood;
}

a:nth-child(odd) {
  color:crimson;
}*/
