a:first-child {
  color: chartreuse;
}

a:nth-child(3){
  color: coral;
}

a:last-child {
  color: burlywood;
}

a:nth-last-child(2) {
  color: crimson;
}




/*a {
  text-decoration: none;
}

a:visited {
  color:chartreuse;
}

a:hover {
  font-style: italic;
  font-family: Helvetica;
  color: red;
  font-size: 2rem;
  background-color: yellow;
}

/*order importance: if a:visited comes after a:hover then the red color in a:hover won't show up*/*/
